<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="taskDao" class="ru.otus.dlyubanevich.dao.TaskDaoImpl">
        <constructor-arg name="resource" value="test.csv"/>
    </bean>

    <bean id="testService" class="ru.otus.dlyubanevich.service.TestServiceImpl">
        <constructor-arg name="taskDao" ref="taskDao"/>
    </bean>

</beans>